.waktu.active {
    background-color: #16BF78;
    color: #fff
}
.daur-ulang.active {
    background-color: #16BF78;
    color: #fff;
}
.sampah.active {
    background-color: #16BF78;
    color: #fff
}
.leaflet-container {
    width: 100%;
    height: 300px;
    border-radius: 15px;
  }
  