.waktu.active {
    background-color: #16BF78;
    color: #fff
}
.daur-ulang.active {
    background-color: #16BF78;
    color: #fff;
}
.sampah.active {
    background-color: #16BF78;
    color: #fff
}